.nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  /*Animation*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav_inside {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px 0;
  height: 8%;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  object-fit: contain;
  /*
  width: 20%;
  */
  max-height: 31px;
}

.button {
  position: fixed;
  right: 2%;
}

.register {
  position: fixed;
  right: 7%;
}

.button {
  position: fixed;
  right: 2%;
}

.register {
  position: fixed;
  right: 7%;
}
.nav__button {
  display: flex;
  object-fit: contain;
}

.transition-modal-title {
  color: white;
}

.login {
  height: 10;
}
.submit {
  background: #e50914;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 12px;
  padding: 16px;
  border: 0;
  color: white;
  cursor: pointer;
}
.nav__left {
  display: flex;
  flex-direction: row;
}
.nav__left input {
  margin-left: 20px;
  opacity: 75%;
  border: none;
  border-radius: 5px;
}
